<div style="
  background-image: url('{{ block.settings.bg_img | image_url: width: 2000 }}');
  background-size: cover;
  padding: {{ block.settings.pt }}px {{ block.settings.pr }}px {{ block.settings.pb }}px {{ block.settings.pl }}px;
  text-align: {{ block.settings.align }};
">
  <h2 style="color: {{ block.settings.c_h }};">{{ block.settings.h }}</h2>
  <div style="color: {{ block.settings.c_p }};">{{ block.settings.p }}</div>
</div>

{% schema %}
{
  "name": "CX Rich Text",
  "settings": [
    { "type": "image_picker", "id": "bg_img", "label": "Box Background Image" },
    { "type": "select", "id": "align", "label": "Align", "options": [{"value":"left","label":"Left"},{"value":"center","label":"Center"},{"value":"right","label":"Right"}], "default": "center" },
    { "type": "header", "content": "Padding Controls" },
    { "type": "range", "id": "pt", "min": 0, "max": 100, "label": "Top", "default": 20 },
    { "type": "range", "id": "pb", "min": 0, "max": 100, "label": "Bottom", "default": 20 },
    { "type": "range", "id": "pl", "min": 0, "max": 100, "label": "Left", "default": 20 },
    { "type": "range", "id": "pr", "min": 0, "max": 100, "label": "Right", "default": 20 },
    { "type": "text", "id": "h", "label": "Heading", "default": "Heading" },
    { "type": "color", "id": "c_h", "label": "H Color", "default": "#000" },
    { "type": "richtext", "id": "p", "label": "Text" },
    { "type": "color", "id": "c_p", "label": "P Color", "default": "#333" }
  ]
}
{% endschema %}